/* Cargar la fuente desde la carpeta fonts */


/* Usar la fuente en el cuerpo del documento */
body {
    font-family: 'Fornite', sans-serif;
    font-weight: 100; /* Cambia el peso de la fuente a más delgada */
    background-color: #f0f0f0;
    color: rgb(46, 42, 42);
    margin: 0;
    padding: 0;
}

h1, label {
    font-size: 1.5em;
}

p {
    font-size: 0.2em;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 234px;
    padding: 20px;
    border-right: 2px solid #ddd;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MuiSelect-root{
    margin-bottom: 12px;
}
.radio-group {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una sola línea */
    gap: 20px; /* Espacio entre los elementos */
    margin-bottom: 10px;
    margin-top: 10px;
}

.radio-group label {
    font-size: 1.2em; /* Tamaño de fuente más pequeño */
    margin-right: 15px; /* Espacio a la derecha de cada etiqueta */
    
    
}

.radio-group input[type="radio"] {
    margin-right: 10px; /* Espacio entre el radio button y la etiqueta */
}



.chart-container {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 20px; /* Espaciado desde el borde superior */
    left: 400px; /* Espaciado desde el borde izquierdo */
    width: 30vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background-color: #f9f9f9; /* Fondo del contenedor */
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-container-radial {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 20px; /* Espaciado desde el borde superior */
    left: 1000px; /* Espaciado desde el borde izquierdo */
    width: 30vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background-color: #f9f9f9; /* Fondo del contenedor */
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-radial {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}

.chart-container-pca {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 20px; /* Espaciado desde el borde superior */
    left: 295px; /* Espaciado desde el borde izquierdo */
    width: 27vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background: #e4e7ec;
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-pca {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}

.chart-container-map {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 20px; /* Espaciado desde el borde superior */
    left: 1375px; /* Espaciado desde el borde izquierdo */
    width: 27vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background: #ffffff;
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-map {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}
.chart-container-compare {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 470px; /* Espaciado desde el borde superior */
    left: 1337px; /* Espaciado desde el borde izquierdo */
    width: 29vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background: #ffffff;
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-compare {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}

.chart-container-tree-rad {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 20px; /* Espaciado desde el borde superior */
    left: 835px; /* Espaciado desde el borde izquierdo */
    width: 27vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background-color: #f9f9f9; /* Fondo del contenedor */
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-tree-rad {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}

/* PARA MI SERIE TEMPORAL */

.chart-container-time-temporal {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    top: 470px; /* Espaciado desde el borde superior */
    left: 295px; /* Espaciado desde el borde izquierdo */
    width: 53vw; /* Ancho de la ventana de visualización */
    height: 46vh; /* Alto de la ventana de visualización */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la ventana */
    background-color: #f9f9f9; /* Fondo del contenedor */
    overflow: hidden; /* Oculta el contenido desbordado */
    display: flex;
    flex-direction: column; /* Coloca el título encima del gráfico */
    z-index: 1; /* Asegura que el contenedor esté sobre otros elementos */
}
.chart-header-time-temporal {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}

.chart-header {
    background-color: #d3cfcf; /* Fondo del encabezado */
    color: #000000; /* Color del texto del encabezado */
    padding: 1px; /* Espaciado dentro del encabezado */
    border-bottom: 1px solid #ffffff; /* Línea divisoria debajo del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    height: 50px;
}


.chart-container .chart {
    flex: 1; /* Permite que el gráfico ocupe el espacio restante */
    padding: 20px; /* Espaciado interno del gráfico */
    background-color: #f9f9f9; /* Fondo del área del gráfico */
}

.chart {
    width: 100%;
    height: 100%;
}

select, input[type="date"] {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px;
}

.date-range-container {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.MuiTextField-root {
    margin-right: 20px; /* Espaciado a la derecha */
    margin-bottom: 10px; /* Espaciado abajo, si es necesario */
}




/* CONTEINER RADIAL PRUEBA */
/* Asegúrate de incluir este CSS en tu archivo de estilos */

.centered-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.node {
    font: 12px;
}
.highlighted-link {
    stroke: rgb(8, 66, 255);
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 4, 4; /* Línea punteada */
}
/* Estilo para el contenedor de los controles */
.controls {
    position: absolute; /* Permite posicionar el contenedor dentro del contenedor principal */
    right: 0; /* Coloca el contenedor en la parte derecha */
    top: 52px; /* Espacio desde la parte superior */
    width: 100px; /* Ancho del contenedor más pequeño */
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
    padding: 8px; /* Espacio interno reducido */
    /* border: 1px solid #ddd; Borde gris claro */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); Elimina la sombra */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.controls label {
    display: block; /* Muestra cada etiqueta en una nueva línea */
    margin-bottom: 2px; /* Espacio entre las etiquetas */
    font-size: 16px; /* Tamaño de fuente más pequeño */

}
/* CONTROLES DE LA LEYENDA DE CORRELACION */
.gradient-legend {
    position: absolute;
    bottom: 10px; 
    right: 10px;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: rgba(255, 255, 255, 0); 
    padding: 10px;
    box-sizing: border-box;
}

.legend-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gradient-container {
    display: flex;
    align-items: center;
    width: 100px; /* Ajusta según sea necesario */
}

.gradient-bar {
    width: 80px;
    height: 15px;
    background: linear-gradient(to right, #ff0000, #ffaaaa);
    border: 1px solid #ccc;
    margin: 0 10px; /* Espaciado a los lados */
}

.legend-label-rad {
    font-size: 24px; /* 10% del ancho de la ventana de visualización */
    color: #333;
}



/* SERIE TEMPORAL */
.legend {
    position: absolute;
    left: 28%;
    bottom: 8px; /* Ajusta la distancia desde la parte inferior */
    transform: translateX(-50%); /* Centra horizontalmente la leyenda */
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre los elementos de la leyenda */
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.legend h3 {
    margin-top: 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Ajusta el espacio entre cada ítem */
}

.legend-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #000;
}

.legend-label {
    font-size: 16px;
}

.legend-line-dashed {
    display: inline-block;
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 2px; /* Ajusta el grosor de la línea */
    background: linear-gradient(to right, red 50%, transparent 50%);
    background-size: 8px 2px; /* Ajusta el tamaño de los puntos de la línea punteada */
    background-repeat: repeat-x;
    margin-right: 10px;
}




/* para el pca */
.chart-header-pca {
    position: relative;
    width: 100%; /* Asegura que el contenedor de la leyenda use todo el ancho disponible */
}

.legend-pca {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
    align-items: center;
    flex-wrap: nowrap; /* Asegura que los elementos no se envuelvan en varias líneas */
    margin-top: 10px;
    overflow-x: auto; /* Permite desplazamiento horizontal si el contenido excede el ancho del contenedor */
    padding: 0px 0; /* Padding para la leyenda */
    box-sizing: border-box; /* Incluye padding en el tamaño total del contenedor */
    margin-left: 35px;
}

.legend-item-pca {
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 5px; /* Espaciado entre ítems */
    border-radius: 2px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

#chart-info {
    display: auto; /* Usa flexbox para alinear los elementos en una fila */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
    margin-bottom: 10px; /* Espacio entre el contenedor de información y el gráfico */
    padding: 10px; /* Espaciado interno del contenedor */
    position: absolute; /* Posición absoluta para mover el contenedor hacia arriba */
    top: 30px; /* Ajusta la posición desde el borde superior */
    left: 10px; /* Ajusta la posición desde el borde izquierdo */
    right: 10px; /* Ajusta la posición desde el borde derecho */
    font-size: 80px; /* Tamaño de la fuente en el contenedor */
    z-index: 10; /* Asegura que el contenedor esté por encima de otros elementos */
    gap: 5px; /* Espacio entre los elementos de texto */
}



.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
  }